@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.dark-bg{
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dark-bg ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

nav.dark-bg div{
    margin: auto 20px;
}

nav.dark-bg div img{
    width: 20%;
    padding: 5px;
}

/* hero */
.hero-main-txt{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-txt{
    font-size: 18px;
    color: #E5E7EB;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.sect-1 button.btn-color{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 5px;
}

button.btn-color{
    background-color: #3882F6;
    font-weight: bold;
    padding: 10px;
    color: #F9FAF8;
    border: white solid 2px;
    border-radius: 5px;
}

button.btn-color:hover{
    background-color: #206be2;
}

.btn-color{
    background-color: #3882F6;
    color: #F9FAF8;
}

.header-information{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-bg{
    background-color: #E5E7EB;
}

.quote-txt{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

/* section 1 */
.sect-1{
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
}

.sect-1 .texts{
    padding: 25px;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sect-1 .texts *{
    padding: 10px;
}

.sect-1 .img-container{
    display: flex;
    flex: 2 1 100%;
    padding: 25px;
    justify-content: center;
    align-content: center;
}

.sect-1 .img-container img{
    width: 100%;
    border-radius: 10px;
}

/* sect 2 */
.sect-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.sect-2 .card-container{
    display: flex;
    gap: 5px;
    padding: 1em;
}

.sect-2 .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    height: 100%;
    width: 200px;
}

.sect-2 .card .img-container{
    width: 200px;
    height: 200px;
    object-fit: cover;
    display: flex;
    flex: 1 1 100%;
    padding: 25px;
    justify-content: center;
    align-content: center;
}

.sect-2 .card .img-container img{
    width: 25vh;
    height: 25vh;
    width: 100%;
    border-radius: 10px;
    border: #206be2 solid 3px;
}

.sect-2 .capt{
    text-align: center;
}

/* Section 3 */
.sect-3{
    display: flex;
    flex-direction: column;
    padding: 5em 10em;
}

.sect-3 .header-information{
    align-self: flex-end;
}

/* Section 4 */
.sect-4{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    padding: 0 1em;
}

.sect-4 .contact-box{
    padding: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10em;
}

.contact-box .contact-header{
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.contact-box .contact-caption{
    color: #F9FAF8;
}

/* Footer */
footer.dark-bg{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F9FAF8;
    align-items: center;
    justify-content: center;
}

/* responsive */
@media screen and (max-width: 800px) {
    .sect-1,.sect-2 .card-container{
        flex-wrap: wrap;
    }

    .sect-1{
        padding: 5em 0;
    }

    .sect-3{
        padding: 5em 2em;
        gap: 1em;
    }
  }