.dark-bg{
    background-color: #1F2937;
}

/* hero */
.hero-main-txt{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary-txt{
    font-size: 18px;
}

.header-logo{
    font-size: 24px;
    color: #F9FAF8;
}

.btn-color{
    background-color: #3882F6;
}

.header-information{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.quote-bg{
    background-color: #E5E7EB;
}

.quote-txt{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}